:root {
    --label-color:  #ae002e;
}

.App {
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
    text-align: center;
    overflow-x: hidden;
}
b {
    color:  var(--label-color);
    font-size: xx-large;
}
