.cap {
    transition-duration: 0.5s;
    color: white;
    text-decoration: none;
    display: grid;
    grid-template-columns: 1fr 5fr 15fr 5fr 5fr 5fr 5fr 1fr;
    grid-template-areas: ". logo . sb ib wb cb .";
    position: fixed;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    z-index: 99999;
}

.cap:hover {
    transition-duration: 0.5s;
    height: 75px !important;
}

.sb {
    grid-area: sb;
}

.ib {
    grid-area: ib;
}

.wb {
    grid-area: wb;
}

.cb {
    grid-area: cb;
}

.sb, .ib, .wb, .cb {
    text-decoration: none;
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: large;
    font-weight: bold;
}

.logo {
    transition-duration: 0.1s;
    padding: 0;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    grid-area: logo;
}

.logo:hover {
    transition-duration: 0.1s;
    height: 105%;
}

.mt {
    text-align: center;
    display: grid;
    grid-template-columns: 10fr 10fr 10fr;
    grid-template-areas: "ln ln ln" "inc aisi titan";
    grid-template-rows: 2px auto;
    transition-duration: 0.5s;
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
}

.inc {
    grid-area: inc;
}

.aisi {
    grid-area: aisi;
}

.titan {
    grid-area: titan;
}

.inc, .aisi, .titan {
    text-decoration: none;
    text-align: center;
    padding-top: 8px;
    margin: 0;
    font-weight: bold;
}


.link {
    transition-duration: 0.1s;
    position: relative;
    top: calc(50% - 0.75em);
    padding: 0;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.mt .link {
    transition-duration: 0.5s;
    position: relative;
    padding: 0;
    margin: 0;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.mt .link:hover {
    transition-duration: 0.1s;
    font-size: 120% !important;
}

.link:active {
    color: white;
}

.link:hover {
    transition-duration: 0.1s;
    font-size: 120%;
}

.line {
    display: inline-block;
    transition-duration: 0.5s;
    width: 80%;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    grid-area: ln;
    border: none;
    height: 2px;
}
