/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 920px) {
    :root {
        --content-width-mobile: 95vw;
    }
    .paralax {
        box-shadow: 0 30px 40px 0 rgba(0,0,0,0.2), 0 12px 40px 0 rgba(0,0,0,0.19);
    }
    .label {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .textUnderLable {
        padding-top: 20px;
    }
    .panel {
        color: white;
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        height: 100vh;
        width: 100%;
    }
    .panelMainText {
        font-size: xx-large;
        color: white;
        font-weight: bold;
    }
    .faviconPanel {
        padding-top: -30px;
        width: 30vw;
    }
    .about {
        margin-top: 20px;
        display: inline-block;
        width: var(--content-width-mobile);
        text-align: center;
    }
    .line {
        width: var(--content-width-mobile);
        border: none;
        color: #bec5c6;
        background-color: #bec5c6;
        height: 1px;
    }
    .diagram {
        padding-bottom: 20px;
        padding-top: 20px;
        width: var(--content-width-mobile);
    }
    .colums .line {
        margin-bottom: 0;
        margin-top: 0;
        display: inline-block;
        width: var(--content-width-mobile);
    }
    .princ {
        display: grid;
        grid-template-areas:
                "txt txt"
                "pln strt"
                "comm res"
    ;
        grid-template-rows: 10% 45% 45%;
        grid-template-columns: 50% 50%;

    }
    .block, .princ {
        width: var(--content-width-mobile);
        text-align: center;
    }
    .block {
        margin-top: 20px;
        display: inline-block;
    }
    .spicture {
    }
    .txt {
        grid-area: txt;
    }
    .ruspolymetLogo {
        width: 80vw;
    }
    .planning {
        grid-area: pln;
    }
    .strategy {
        grid-area: strt;
    }
    .communication {
        grid-area: comm;
    }
    .results {
        grid-area: res;
    }
    .planning, .strategy, .communication, .results {
        text-align: center;
    }
    .contentBox {
        display: inline-block;
    }
    .fadeIn{
        padding-top: calc(50vh - 10em);
        position: relative;

        animation-name: fadeIn;
        -webkit-animation-name: fadeIn;

        animation-duration: 2s;
        -webkit-animation-duration: 2s;

        animation-timing-function: ease-in-out;
        -webkit-animation-timing-function: ease-in-out;

        visibility: visible !important;
    }
    .track {
        height: 0;
        visibility: hidden;
    }
    .doc {
        transition-duration: 0.5s;
        box-shadow: 0 30px 40px 0 rgba(0,0,0,0.2), 0 12px 40px 0 rgba(0,0,0,0.19);
        height: 100%;
        margin-top: 30px;
    }
    .doc img {
        cursor: pointer;
    }
    .rpdiscp {
        grid-area: rpd;
    }
    .luTop {
    }
    .stTop {
    }
    .lu {

    }
    .st {
    }
    .link {
        display: inline-block;
        border: none;
        text-align: center;
        margin: 5px;
        font-weight: 700;
        font-size: x-large;
        transition-duration: 0.1s;
        color: white;
        text-decoration: none;
        cursor: pointer;
    }
    .linkWrapper {
        width: 150px;
        border-radius: 7px;
        background-color: var(--label-color);
    }
    .linkField {
        position: absolute;
        left: calc(50% - 4.5em);
        display: inline-block;
        bottom: 30px;
    }
    .linkField .fadeIn {
        padding-top: 0;
    }
    .link:active {
        color: white;
    }
    .dc img {
        transition: all 0.5s;
        width: 130px;
        box-shadow: 0 30px 40px 0 rgba(0,0,0,0.2), 0 12px 40px 0 rgba(0,0,0,0.19);
        cursor: pointer;
    }
    .dc img:hover {
        width: 135px;
    }
    @keyframes fadeIn {
        0% {
            transform: scale(0);
            opacity: 0.0;
        }
        100% {
            transform: scale(1);
            opacity: 1;
        }
    }
    @-webkit-keyframes fadeIn {
        0% {
            -webkit-transform: scale(0);
            opacity: 0.0;
        }
        100% {
            -webkit-transform: scale(1);
            opacity: 1;
        }
    }
}
@media screen and (min-width: 921px) {
    :root {
        --content-width: 60vw;
    }
    .paralax {
        box-shadow: 0 30px 40px 0 rgba(0,0,0,0.2), 0 12px 40px 0 rgba(0,0,0,0.19);
    }
    .label {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .textUnderLable {
        padding-top: 20px;
    }
    .panel {
        color: white;
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        height: 100vh;
        width: 100%;
    }
    .panelMainText {
        font-size: xx-large;
        color: white;
        font-weight: bold;
    }
    .faviconPanel {
        padding-top: -30px;
        width: 8vw;

        -webkit-animation:spin 8s linear infinite;
        -moz-animation:spin 8s linear infinite;
        animation:spin 8s linear infinite;
    }
    .about {
        margin-top: 40px;
        display: inline-block;
        width: var(--content-width);
        text-align: center;
    }
    .line {
        width: var(--content-width);
        border: none;
        color: #bec5c6;
        background-color: #bec5c6;
        height: 1px;
    }
    .diagram {
        padding-bottom: 20px;
        padding-top: 20px;
        width: var(--content-width);
    }
    .colums .line {
        margin-bottom: 0;
        margin-top: 0;
        display: inline-block;
        width: var(--content-width);
    }
    .princ {
        display: grid;
        grid-template-areas:
                "txt txt"
                "pln strt"
                "comm res"
    ;
        grid-template-rows: 10% 45% 45%;
        grid-template-columns: 50% 50%;

    }
    .block, .princ {
        width: var(--content-width);
        text-align: center;
    }
    .block {
        margin-top: 60px;
        display: inline-block;
    }
    .spicture {
    }
    .ruspolymetLogo {
        width: 600px;
    }
    .txt {
        grid-area: txt;
    }
    .planning {
        grid-area: pln;
    }
    .strategy {
        grid-area: strt;
    }
    .communication {
        grid-area: comm;
    }
    .results {
        grid-area: res;
    }
    .planning, .strategy, .communication, .results {
        text-align: center;
    }
    .contentBox {
        display: inline-block;
    }
    .fadeIn{
        padding-top: calc(50vh - 10em);
        position: relative;

        animation-name: fadeIn;
        -webkit-animation-name: fadeIn;

        animation-duration: 2s;
        -webkit-animation-duration: 2s;

        animation-timing-function: ease-in-out;
        -webkit-animation-timing-function: ease-in-out;

        visibility: visible !important;
    }
    .track {
        margin-top: 60px;
        height: 300px;
        width: 100vw;
        text-align: center;
    }
    .doc {
        transition-duration: 0.5s;
        box-shadow: 0 30px 40px 0 rgba(0,0,0,0.2), 0 12px 40px 0 rgba(0,0,0,0.19);
        height: 300px;
        margin-top: 60px;
    }
    .doc img {
        cursor: pointer;
    }
    .doc:hover {
        overflow-x: hidden !important;
        transition-duration: 0.5s;
        height: 1653px;
    }
    .rpdiscp {
        grid-area: rpd;
    }
    .colums {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto;
        grid-template-areas:
                "luTop stTop"
                "lu st";
    }
    .luTop {
        grid-area: luTop;
    }
    .stTop {
        grid-area: stTop;
    }
    .lu {
        text-align: left;
        grid-area: lu;
    }
    .st {
        grid-area: st;
    }
    .link {
        display: inline-block;
        border: none;
        text-align: center;
        margin: 5px;
        font-weight: 700;
        font-size: x-large;
        transition-duration: 0.1s;
        color: white;
        text-decoration: none;
        cursor: pointer;
    }
    .linkWrapper {
        width: 150px;
        border-radius: 7px;
        background-color:  var(--label-color);
    }
    .linkField {
        position: absolute;
        left: calc(50% - 4.5em);
        display: inline-block;
        bottom: 30px;
    }
    .linkField .fadeIn {
        padding-top: 0;
    }
    .link:active {
        color: white;
    }
    .dc img {
        transition: all 0.5s;
        width: 130px;
        box-shadow: 0 30px 40px 0 rgba(0,0,0,0.2), 0 12px 40px 0 rgba(0,0,0,0.19);
        cursor: pointer;
    }
    .dc img:hover {
        width: 135px;
    }
    @keyframes fadeIn {
        0% {
            transform: scale(0);
            opacity: 0.0;
        }
        100% {
            transform: scale(1);
            opacity: 1;
        }
    }
    @-webkit-keyframes fadeIn {
        0% {
            -webkit-transform: scale(0);
            opacity: 0.0;
        }
        100% {
            -webkit-transform: scale(1);
            opacity: 1;
        }
    }
    @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
    @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
    @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
}

