.main {
    overflow-x: hidden;
}

.paralax {
    background-image: url("https://cdn.motor1.com/images/mgl/PjvO4/s1/steel-manufacturing.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    box-shadow: 0 30px 40px 0 rgba(0,0,0,0.2), 0 12px 40px 0 rgba(0,0,0,0.19);
}

.panel {
    text-align: center;
    height: 100vh;
    width: 100%;
}

.panelMainText {
    padding: 0;
    margin: 0;
    font-size: xx-large;
    color: black;
    font-weight: bold;
}

.panelLowerText {
    padding: 0;
    margin-left: 200px;
    font-size: x-large;
    color: black;
}

.about {
    display: inline-block;
    width: 40vw;
    text-align: center;
    padding: 50px;
}

b {
    font-size: x-large;
}

.line {
    border: none; /* Убираем границу для браузера Firefox */
    color: #282c2d; /* Цвет линии для остальных браузеров */
    background-color: #282c2d; /* Цвет линии для браузера Firefox и Opera */
    height: 2px; /* Толщина линии */
}

.princ {
    margin: 0;
    padding: 0;
    text-align: center;
    width: 80vw;
    display: grid;
    grid-template-areas:
            "txt txt"
            "pln strt"
            "comm res"
    ;
    grid-template-rows: 10% 45% 45%;
    grid-template-columns: 50% 50%;

}

.spicture {
    margin: 0;
    padding: 0;
}

.txt {
    grid-area: txt;
}

.planning {
    grid-area: pln;
}
.strategy {
    grid-area: strt;
}
.communication {
    grid-area: comm;
}
.results {
    grid-area: res;
}

.planning, .strategy, .communication, .results {
    text-align: center;
}

.contentBox {
    padding-top: 20px;
    padding-bottom: 20px;
    display: inline-block;
}

.slideRight {
    padding-top: calc(50vh - 5em);
    position: relative;

    animation-name: slideRight;
    -webkit-animation-name: slideRight;

    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;

    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;

    visibility: visible !important;
}

@keyframes slideRight {
    0% {
        transform: translateX(-150%);
    }
    100% {
        transform: translateX(0%);
    }
}

@-webkit-keyframes slideRight {
    0% {
        -webkit-transform: translateX(-150%);
    }
    100% {
        -webkit-transform: translateX(0%);
    }
}

.fadeIn{
    padding-top: calc(50vh - 5em);
    position: relative;

    animation-name: fadeIn;
    -webkit-animation-name: fadeIn;

    animation-duration: 2s;
    -webkit-animation-duration: 2s;

    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;

    visibility: visible !important;
}

@keyframes fadeIn {
    0% {
        transform: scale(0);
        opacity: 0.0;
    }
    60% {
        transform: scale(1.1);
    }
    80% {
        transform: scale(0.9);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        -webkit-transform: scale(0);
        opacity: 0.0;
    }
    60% {
        -webkit-transform: scale(1.1);
    }
    80% {
        -webkit-transform: scale(0.9);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 1;
    }
}